@model PagedList.IPagedList<Kalyan.Property.Infrastructure.Models.Country>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Create Country";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/unobtrusive/js")

  

    <!-- Main content -->
    <section class="content">

        <div id="content">

            @using (Ajax.BeginForm("CreateCountry", new AjaxOptions
                    {
                        UpdateTargetId = "targetId",
                        HttpMethod = "Post",
                        OnSuccess = "Clear"
                    }))
                    {
                    <div>
                        <input type="text" name="countryName" id="countryName" required />
                        <input type="submit" value="Add Country" />
                    </div>
                    }

            <div id="targetId">
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>IsActive</td>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var Country in Model)
                            {
                            <tr>
                                <td>@Country.Id</td>
                                <td>@Country.Name</td>
                                <td>@Country.IsActive</td>
                            </tr>
                            }
                </tbody>
            </table>

            <div id="contentPager">
                @Html.PagedListPager(Model, page => Url.Action("CreateCountry", new { page }))
            </div>
        </div>
    </section>
    <!-- /.content -->