@model Kaylan.Porperty.Web.ViewModel.StateViewModel
@{
    ViewBag.Title = "Create Country";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/unobtrusive/js")
@Scripts.Render("~/Utility/js")

<script type="text/javascript">
    function Clear() {
        $('#countryName').val('');
    }
</script>

<!-- Main content -->
<section class="content">


    <div id="content">
        @using (Ajax.BeginForm("CreateState", new AjaxOptions
        {
            UpdateTargetId = "targetId",
            HttpMethod = "Post",
            OnSuccess = "Clear"
        }))
        {
            <div class="search-field">
                <label>Country</label>


                @Html.DropDownListFor(model => model.CountryId, new List<SelectListItem>() { new SelectListItem { Text = "Select Country", Value = "-1" } }, new { @class = "form - control selectpicker", @id = "CountryId" })
                @*<select name="search_by" id="country" class="form-control selectpicker">
                        <option selected>Country</option>
                    </select>*@
            </div>
            <div>
                @Html.TextBoxFor(x => x.StateName, new { @class = "" })
                @Html.ValidationMessageFor(x => x.StateName)
                <input type="submit" value="Add State" />
            </div>
        }
        <div id="targetId">

        </div>
        <div id="unobtrusive">
            @Html.Partial("_StateList", Model.StateList)
        </div>
    </div>
</section>
<!-- /.content -->
