@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>


    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"> 
    <script type="text/javascript"src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>  
    <script type="text/javascript"src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
       

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jQuery-2.2.0.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
$(document).ready(function () {
    $('#btn').click(function () {
    $('#result').load('/User/TotalUser');
});
});

$(document).ready(function () {
    $('#btn1').click(function () {
        $('#result').load('/User/SalesList');
    });
});

$(document).ready(function () {
    $('#btn2').click(function () {
        $('#result').load('/User/RentList');
    });
});


$(document).ready(function () {
    $('#btn3').click(function () {
        $('#result').load('/User/PropertyRequestListing');
    });
});


$(document).ready(function () {
    $('#btn4').click(function () {
        $('#result').load('/User/PendingUser');
    });
});

$(document).ready(function () {
    $('#btn5').click(function () {
        $('#result').load('/User/NewListing');
    });
});


$(document).ready(function () {
    $('#btn6').click(function () {
        $('#result').load('/User/EnquiryforlistedProperty');
    });
});

$(document).ready(function () {
    $('#mytable').DataTable();
});






    </script>


   





</head>
<section class="content-header">
    <h1>Admin Dashboard</h1>
</section>



@*<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

       
        <div class="modal-content">


          <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              @Html.ActionLink("Home", "Index", "Home")
           </div>


               



            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

            </div>

        </div>
    </div>*@







<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <div id="btn">
                    <span class="info-box-icon bg-aqua" style="cursor: pointer;"><i class="fa fa-users"></i></span>
                </div>

                    <div class="info-box-content">
                    <span class="info-box-text">Total User</span>
                        <span class="info-box-number">@ViewBag.UserList<small></small></span>
                        
                      
                    </div>
                    <!-- /.info-box-content -->
                </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <div id="btn4">
                    <span class="info-box-icon bg-red" style="cursor: pointer;"><i class="fa fa-google-plus"></i></span>
                </div>
                <div class="info-box-content">
                    <span class="info-box-text">
                        Pending for<br />
                        Approval
                    </span>
                    <span class="info-box-number"> @ViewBag.approved</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>




        <!-- /.col -->
        <!-- fix for small devices only -->

        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">

                <div id="btn5">
                    <span class="info-box-icon bg-green" style="cursor: pointer;"><i class="ion ion-ios-cart-outline"></i></span>
                </div>
                <div class="info-box-content">
                    <span class="info-box-text">New Listing</span>
                    <span class="info-box-number">@ViewBag.newlisting </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <div id="btn1">
                    <span class="info-box-icon bg-yellow" style="cursor: pointer;"><i class="ion ion-ios-people-outline"></i></span>
                </div>

                <div class="info-box-content">
                    <span class="info-box-text">Sales</span>
                    <span class="info-box-number"> @ViewBag.salescount</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->


        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                

                <div id="btn2">
                    <span class="info-box-icon bg-yellow" style="cursor: pointer;"><i class="ion ion-ios-cart-outline"></i></span>
                </div>


                <div class="info-box-content">
                    <span class="info-box-text">Rent</span>
                    <span class="info-box-number">@ViewBag.rentcount<small></small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>






        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
               


                <div id="btn3">
                    <span class="info-box-icon bg-aqua" style="cursor: pointer;"><i class="ion ion-ios-cart-outline"></i></span>
                </div>




                <div class="info-box-content">
                    <span class="info-box-text">property Request</span>
                    <span class="info-box-number"> @ViewBag.propertyRequest</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>


        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">

                <div id="btn6">
                    <span class="info-box-icon bg-yellow" style="cursor: pointer;"><i class="ion ion-ios-people-outline"></i></span>
                </div>
                

                <div class="info-box-content">
                    <span class="info-box-text">
                        Enquiry of listed<br />
                        property
                    </span>
                    <span class="info-box-number"> @ViewBag.propertyRequest</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>






       
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border"  id="result">
                      
                       this is Patial view

                   </div>
               </div>
          </div>
   </div>
       
</section>
