@model Kaylan.Porperty.Web.ViewModel.ResetPasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/unobtrusive/js")

@using (Html.BeginForm("CreateLogin", "Login", FormMethod.Post))
            {

    @Html.AntiForgeryToken()


    <div class="main" role="main">
        <div id="content" class="content full">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="single-agent">
                            <div class="block-heading">
                                <h4>
                                    <span class="heading-icon">
                                        <img src="@Url.Content("~/images/faa.png")">
                                    </span>Login
                                </h4>
                            </div>
                        </div>
                        <div class="spacer-20"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 login-form">

                            <form>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <span class="input-group-addon">Email<i class="fa fa-lock"></i></span>

                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <span class="input-group-addon"> Password<i class="fa fa-lock"></i></span>
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                                </div>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <span class="input-group-addon">Confirm Password<i class="fa fa-lock"></i></span>
                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                                <br />

                                <input type="submit" class="btn btn-success" id="Submit" />
                                @*<button type="submit" class="btn btn-primary">Login Now</button>*@
                            </form>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

