@model IEnumerable<Kaylan.Porperty.Web.ViewModel.PropertyDetailListViewModel>

@{
    ViewBag.Title = "Customer Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<input type="hidden" id="temp" name="temp" value="@TempData["type"]" />

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/unobtrusive/js")
<head>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jQuery-2.2.0.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">

$(document).ready(function () {
    $('#btn4').click(function () {
        $('#result').load('/User/pendingapproveofcust');
    });
});
    </script>
</head>

<h2>Custome Dashboard</h2>

<style>
    #maincontent {
        margin: 10px;
        border: solid 4px;
        color: white;
        border-color: #FF9800;
    }

    #content {
        width: 300px;
        float: left;
        height: 400px;
        padding: 5px 15px;
    }

    #middle {
        width: 300px; /* Account for margins + border values */
        float: left;
        padding: 5px 15px;
        height: 400px;
        margin: 0px 5px 5px 5px;
    }

    #sidebar {
        width: 300px;
        padding: 5px 15px;
        height: 400px;
        float: left;
    }
</style>

<section class="content-header">
   
</section>
@*< !--Main content -->*@

    <!-- Info boxes -->
@using (Html.BeginForm())
{
   

    <section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <div id="btn4">
                    <span class="info-box-icon bg-red" style="cursor: pointer;"><i class="fa fa-google-plus"></i></span>
                </div>
                <div class="info-box-content">
                    <span class="info-box-text">
                        Property Pending <br />
                        for   Approval
                    </span>
                    <span class="info-box-number"> @ViewBag.userapproved</span>
                </div><div class="text-align-center" id="submit-property">
    <button type="submit" name="submit" class="btn btn-primary btn-lg"><i class="fa fa-check"></i> Submit Now</button>
</div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        @*<div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <div id="btn4">
                <span class="info-box-icon bg-aqua"><i class="ion ion-checkmark-circled"></i></span>
                </div>
                <div class="info-box-content">
                    <span class="info-box-text" id="app">Approved</span>
                    <span class="info-box-number">@ViewBag.userapproved</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>*@
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-minus-circle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Pending Approved</span>
                    <span class="info-box-number">@ViewBag.pendindapprove</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-info-circle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">New Enquiry</span>
                    <span class="info-box-number">@ViewBag.newenquiry </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">List All Property</span>
                    <span class="info-box-number">2,000</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border" id="result">

                    this is Patial view

                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
}