@model Kaylan.Porperty.Web.ViewModel.UserViewModel

@{
    ViewBag.Title = "Customer Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<input type="hidden" id="temp" name="temp" value="@TempData["type"]" />
@*<input type="text" id="name" name="temp" value="@" />*@
<input type="hidden" value="@Session["UserId"]" id="userid" />  



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/unobtrusive/js")
<head>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jQuery-2.2.0.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">



        $(document).ready(function () {
            $('#btn4').click(function () {
                $('#result').load('/User/pendingapproveofcust/@Session["UserId"]');
            });
        });

        $(document).ready(function () {
            $('#btn3').click(function () {
                $('#result').load('/User/approvepropertyofcust/@Session["UserId"]');
            });
        });

        $(document).ready(function () {
            $('#btn2').click(function () {
                $('#result').load('/User/propertyrequestofcust/@Session["UserId"]');
            });
        });




    </script>
    
</head>

<h2>Custome Dashboard</h2>

@*<style>
    #maincontent {
        margin: 10px;
        border: solid 4px;
        color: white;
        border-color: #FF9800;
    }

    #content {
        width: 300px;
        float: left;
        height: 400px;
        padding: 5px 15px;
    }

    #middle {
        width: 300px; /* Account for margins + border values */
        float: left;
        padding: 5px 15px;
        height: 400px;
        margin: 0px 5px 5px 5px;
    }

    #sidebar {
        width: 300px;
        padding: 5px 15px;
        height: 400px;
        float: left;
    }
</style>*@

<section class="content-header">
   
</section>
@*< !--Main content -->*@

    <!-- Info boxes -->

   

    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <div id="btn4">
                        <span class="info-box-icon bg-red" style="cursor: pointer;"><i class="fa fa-chevron-right"></i></span>
                    </div>
                    <div class="info-box-content">
                        <span class="info-box-text">
                            Property Pending <br />
                            for   Approval
                        </span>
                        <span class="info-box-number"> @ViewBag.userapproved</span>
                    </div>


                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>



            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <div id="btn3">
                        <span class="info-box-icon bg-green" style="cursor: pointer;"><i class="fa fa-chevron-right"></i></span>
                    </div>
                    <div class="info-box-content">
                        <span class="info-box-text">
                            Approved property
                        </span>
                        <span class="info-box-number"> @ViewBag.userapproved</span>
                    </div>


                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>



            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <div id="btn2">
                        <span class="info-box-icon bg-yellow" style="cursor: pointer;"><i class="fa fa-chevron-right"></i></span>
                    </div>
                    <div class="info-box-content">
                        <span class="info-box-text">
                           Property Request
                        </span>
                        <span class="info-box-number"> @ViewBag.userapproved</span>
                    </div>


                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>



            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <div id="btn1">
                        <span class="info-box-icon bg-blue" style="cursor: pointer;"><i class="fa fa-chevron-right"></i></span>
                    </div>
                    <div class="info-box-content">
                        <span class="info-box-text">
                            Property Enquiry
                        </span>
                        <span class="info-box-number"> @ViewBag.userapproved</span>
                    </div>


                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>











        </div> 
        
        





        <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border" id="result">

                    this is Patial view

                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
