@model IEnumerable<Kaylan.Porperty.Web.ViewModel.Approvepropertydetails>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PropertyDetailsList</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
        }    
    </div>
    <div>
        <table>
            <tr>
                <th> @Html.DisplayNameFor(k => k.PropertyDescription)</th>
                <th> @Html.DisplayNameFor(k => k.PropertyName)</th>
                <th> @Html.DisplayNameFor(k => k.PorpertyImageUrl1)</th>
                <th> @Html.DisplayNameFor(k => k.PorpertyImageUrl2)</th>
                <th> @Html.DisplayNameFor(k => k.PorpertyImageUrl3)</th>
                <th> @Html.DisplayNameFor(k => k.AreaId)</th>
                <th> @Html.DisplayNameFor(k => k.CityId)</th>
                <th> @Html.DisplayNameFor(k => k.Bedroom)</th>
                <th> @Html.DisplayNameFor(k => k.Bathroom)</th>
                <th> @Html.DisplayNameFor(k => k.Parking)</th>
               @*<th> @Html.DisplayNameFor(k => k.AmenityId)</th>*@
            </tr>
            @foreach (var k in Model)
            {
                <tr>
         
                    <th> @Html.DisplayFor(ki => k.PropertyDescription)</th>
                    <th> @Html.DisplayFor(ki=> k.PropertyName)</th>
                    <th> @Html.DisplayFor(ki => k.PorpertyImageUrl1)</th>
                    <th> @Html.DisplayFor(ki => k.PorpertyImageUrl2)</th>
                    <th> @Html.DisplayFor(ki => k.PorpertyImageUrl3)</th>
                    <th> @Html.DisplayFor(ki => k.AreaId)</th>
                    <th> @Html.DisplayFor(ki => k.CityId)</th>
                    <th> @Html.DisplayFor(ki=> k.Bedroom)</th>
                    <th> @Html.DisplayFor(ki => k.Bathroom)</th>
                    <th> @Html.DisplayFor(ki => k.Parking)</th>
                    @*<th> @Html.DisplayFor(ki => k.AmenityId)</th>*@
                </tr>
                break;
            }
        </table>
</body>
   

</html>
                        