@model Kalyan.Property.Infrastructure.Models.PropertyDetail

@{
    ViewBag.Title = "PropertyDetailsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/unobtrusive/js")






<div>
    <h4>PropertyDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amenity.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amenity.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bathroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bathroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Images)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Featured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Featured)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistrictId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistrictId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToPrice)
        </dd>

    </dl>
</div>

