@model Kaylan.Porperty.Web.ViewModel.PropertyDetailViewModel
@{
    ViewBag.Title = "Create Area";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Kalyan Property World</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">

<!-- CSS -->
<link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Feed" href="http://preview.imithemes.com/real-spaces-wp/feed/" />
<link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Comments Feed" href="http://preview.imithemes.com/real-spaces-wp/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Home Version 1 Comments Feed" href="http://preview.imithemes.com/real-spaces-wp/version-1/feed/" />
<link rel='stylesheet' href='@Url.Content("~/content/css/cf8bac.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/dsidx-icons.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/client.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/client1.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/settings.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/bootstrap.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/animations.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/font-awesome-4.5.0/css/font-awesome.min.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/style.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/style2.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/prettyPhoto.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/owl.carousel.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/owl.theme.css")' type='text/css' media='all' />
<link rel="stylesheet" href="@Url.Content("~/content/css/color1.css")" type="text/css">

<!-- Scripts -->
<script type='text/javascript' src="@Url.Content("~/scripts/jquery.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/jquery-migrate.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/23a23f.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/ajax-login-script.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/jquery.themepunch.tools.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/jquery.themepunch.revolution.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/modernizr.js")"></script>

<script type='text/javascript' src="@Url.Content("~/scripts/favorite.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/newslatter.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/prettyphoto.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/owl.carousel.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/jquery.flexslider.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/helper-plugins.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/bootstrap.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/waypoints.js")"></script>
@*<script type='text/javascript' src='@Url.Content("~/scripts/js.js")'></script>*@
<script type='text/javascript'>
    /* <![CDATA[ */
    var urlajax = { "url": "http:\/\/preview.imithemes.com\/real-spaces-wp\/wp-admin\/admin-ajax.php", "tmpurl": "http:\/\/preview.imithemes.com\/real-spaces-wp\/wp-content\/themes\/real-spaces", "is_property": "", "sticky": "1", "is_contact": "", "home_url": "http:\/\/preview.imithemes.com\/real-spaces-wp", "is_payment": "", "register_url": "http:\/\/preview.imithemes.com\/real-spaces-wp\/register-as-agent\/", "is_register": "", "is_login": "", "is_submit_property": "", "basic": "Basic", "advanced": "Advanced" };
    /* ]]> */
</script>
<script type='text/javascript' src='@Url.Content("~/scripts/init.js")'></script>
<script type='text/javascript' src="@Url.Content("~/scripts/profile_validate.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/comment-reply.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/wp-embed.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/core.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/widget.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/position.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/menu.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/autocomplete.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/autocomplete.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/jquery_cookie.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/script.js")"></script>
<h2>List Your Property</h2>
<script>
            function ShowImage(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#blah')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(100);
                    };

                    reader.readAsDataURL(input.files[0]);
                }

            }
</script>
<script>
            function ShowImage1(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#blah1')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(100);
                    };

                    reader.readAsDataURL(input.files[0]);
                }

            }
</script>
<script>
              function ShowImage2(input) {
                  if (input.files && input.files[0]) {
                      var reader = new FileReader();

                      reader.onload = function (e) {
                          $('#blah2')
                              .attr('src', e.target.result)
                              .width(150)
                              .height(100);
                      };

                      reader.readAsDataURL(input.files[0]);
                  }
              }
</script>
<!-- Start Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="single-agent">
                        <!--	  <div class="col-md-6 col-sm-6">
                                <img src="http://preview.imithemes.com/real-spaces-wp/wp-content/uploads/2015/01/agent41.jpg" alt="Mia Kennedy" class="img-thumbnail">
                          </div>-->
                        <div class="col-md-12">
                            @using (Html.BeginForm("PropertyDetail", "User", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
                            {
                                <div class="block-heading" id="details">
                                    <a href="#additionalinfo" class="btn btn-sm btn-default pull-right">Additional Info <i class="fa fa-chevron-down"></i></a>
                                    <h4>
                                        <span class="heading-icon"> <img src="~/images/faa.png" /></span>
                                        Property Details
                                    </h4>
                                </div>
                                <div class="padding-as25 margin-20 lgray-bg">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 submit-property-type">
                                           
                                            @Html.DropDownListFor(m => m.SelectedCountryId, new SelectList(Model.CountryList), "..Country...", new { @class = "form-control margin-0 selectpicker" })
                                            @Html.ValidationMessageFor(m => m.SelectedCountryId)
                                        </div>
                                        <div class="col-md-3 col-sm-3 submit-property-type">
                                           

                                            @Html.DropDownListFor(m => m.SelectedStateId, Model.StateList, "..State...", new { @class = "form-control margin-0 selectpicker" })
                                            @Html.ValidationMessageFor(m => m.SelectedStateId)
                                        </div>
                                        <div class="col-md-3 col-sm-3 submit-property-type">
                                           
                                            @Html.DropDownListFor(m => m.SelectedCityId, Model.CityList, "..City...", new { @class = "form-control margin-0 selectpicker" })
                                            @Html.ValidationMessageFor(m => m.SelectedCityId)
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 submit-property-type">
                                          

                                            @Html.DropDownListFor(m => m.SelectedAreaId, Model.AreaList, "..Area...", new { @class = "form-control margin-0 selectpicker" })
                                            @Html.ValidationMessageFor(m => m.SelectedAreaId)
                                        </div>

                                        <div class="col-lg-3 col-md-3 ">
                                           

                                            @Html.DropDownListFor(m => m.ContractList, Model.PropertyTypeList, "..Property Type...", new { @class = "form-control margin-0 selectpicker" })
                                            @Html.ValidationMessageFor(m => m.SelectedContractId)
                                        </div>
                                        <div class="col-lg-3 col-md-3 ">
                                            <select name="type" class="form-control margin-0 selectpicker" style="display: none;">
                                                <option>Listed By </option>
                                                <option>Owner</option>
                                                <option>Agent</option>
                                                <option>Commercial</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 ">
                                            @Html.TextBoxFor(x => x.PropertyName, new { @class = "form-control", @placeholder = "Property name" })
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 submit-description">
                                            @Html.TextAreaFor(x => x.PropertyDescription, new { @class = "form-control margin-0", @rows = "2", @cols = "5", @placeholder = "Propery Description" })
                                        </div>
                                    </div>

                                    <br />
                                    <div class="block-heading" id="additionalinfo">
                                        <a href="#amenities" class="btn btn-sm btn-default pull-right">Enter Amenities <i class="fa fa-chevron-down"></i></a>
                                        <h4><span class="heading-icon"><img src="~/images/faa.png" /></span>Additional Info</h4>
                                    </div>
                                    <div class="padding-as25 margin-20 lgray-bg">
                                        <div class="row">

                                            <div class="col-md-4 col-sm-4 submit-contract-type">
                                               

                                                @Html.DropDownListFor(m => m.SelectedContractId, Model.ContractList, "..Contract Type...", new { @class = "form-control margin-0 selectpicker" })
                                                @Html.ValidationMessageFor(m => m.SelectedContractId)
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <input type="text" class="form-control" placeholder="Price($)">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4">
                                              

                                                @Html.DropDownListFor(m => m.SelectedBedtId, Model.BedList, "..Beds...", new { @class = "form-control margin-0 selectpicker" })
                                                @Html.ValidationMessageFor(m => m.SelectedBedtId)
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                              
                                                @Html.DropDownListFor(m => m.SelectedBathtId, Model.BathList, "..Baths...", new { @class = "form-control margin-0 selectpicker" })
                                                @Html.ValidationMessageFor(m => m.SelectedBathtId)
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3">
                                                <label>Upload Images</label>
                                                <p>Upload images that are best clicked for better appearance of your property</p>
                                            </div>
                                            @*<div class="col-md-3 col-sm-3 submit-image">
                                                <div class="image-placeholder">600x400 (JPG)</div>
                                              
                                                @Html.TextBoxFor(m => m.ImageUploadOne, new { type = "file", @accept = "image/*" })
                                                @Html.ValidationMessageFor(m => m.ImageUploadOne, "", new { @class = "text-danger" })
                                            </div>*@

                                            <div class="col-md-3 col-sm-3 submit-image">
                                                <div class="image-placeholder"><img id="blah" src="#" alt="600*400(.jpg)" /></div>                                              
                                             
                                                @Html.TextBoxFor(m => m.ImageUploadOne , new { type = "file", @accept = "image/*",onchange= "ShowImage(this)" })                                           
                                              @Html.ValidationMessageFor(m => m.ImageUploadOne, "", new { @class = "text-danger" })

                                            </div>
                                            <div class="col-md-3 col-sm-3 submit-image">
                                                <div class="image-placeholder"><img id="blah1" src="#" alt="600*400(.jpg)" /></div>  
                                                @Html.TextBoxFor(m => m.ImageUploadTwo, new { type = "file", @accept = "image/*" , onchange = "ShowImage1(this)" })
                                                @Html.ValidationMessageFor(m => m.ImageUploadTwo, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-3 col-sm-3 submit-image">
                                                <div class="image-placeholder"><img id="blah2" src="#" alt="600*400(.jpg)" /></div>  
                                                @Html.TextBoxFor(m => m.ImageUploadThree, new { type = "file", @accept = "image/*" , onchange = "ShowImage2(this)" })
                                                @Html.ValidationMessageFor(m => m.ImageUploadThree, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-heading" id="amenities">
                                        <a href="#seller" class="btn btn-sm btn-default pull-right">Seller Information <i class="fa fa-chevron-down"></i></a>
                                        <h4><span class="heading-icon"><img src="~/images/faa.png" /></span>Amenities</h4>
                                    </div>
                                    <div class="padding-as25 margin-20 lgray-bg">
                                        @for (int i = 0; i < Model.Amenity.Count(); i += 1)
                                        {
                                            if (i == 0 || i % 3 == 0)
                                            {
                                               @:<div class="row">
                                            }
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <label class="checkbox">
                                                    @Html.CheckBoxFor(m => Model.Amenity[i].Selected)  @Html.DisplayFor( m => Model.Amenity[i].Text)
                                                    @Html.HiddenFor(m => Model.Amenity[i].Value)
                                                </label>
                                            </div>
                                            if (i % 3 == 2 || i == Model.Amenity.Count - 1)
                                            {
                                                @:</div>
                                            }
                                        }
                                      
                                    </div>
                                    <div class="block-heading" id="seller">
                                        <a href="#submit-property" class="btn btn-sm btn-default pull-right">Submit Property <i class="fa fa-chevron-down"></i></a>
                                        <h4><span class="heading-icon"><img src="~/images/faa.png" /></span>Seller Information</h4>
                                    </div>
                                    
                                    <div class="padding-as25 margin-20 lgray-bg">
                                        <div class="row">
                                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @placeholder = "Full Name" })
                                                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "Phone" })
                                                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submit-description">
                                                @Html.TextAreaFor(m => m.Comments, new { @class = "form-control margin-0", @rows = "4", @cols = "10", @placeholder = "Comments" })
                                                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="text-align-center" id="submit-property">
                                                <button type="submit" name="submit" class="btn btn-primary btn-lg"><i class="fa fa-check"></i> Submit Now</button>
                                            </div>
                                            <br />
                                            <div class="text-align-center">
                                                <input type="reset" value="Reset" class="btn btn-primary btn-lg onClick="window.location.reload()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="spacer-20"></div>
                        <!-- Start Related Properties -->
                        <!--  <h3>Latest properties listed by <a href="#">Mia Kennedy</a>
                            <a class="btn btn-primary btn-sm pull-right" href="http://preview.imithemes.com/real-spaces-wp/full-width-grid/?agent=2">All properties<i class="fa fa-long-arrow-right"></i>
                            </a>
                        </h3>
                        <hr>-->
                        <!--       <div class="property-grid">
                            <ul class="grid-holder col-3">
                                <li class="grid-item type-rent">
                                    <div class="property-block">
                                        <a href="http://preview.imithemes.com/real-spaces-wp/?property=85-west-street" class="property-featured-image">
                                            <img src="http://preview.imithemes.com/real-spaces-wp/wp-content/uploads/2014/06/slide12-600x400.jpg" class="attachment-600-400-size size-600-400-size wp-post-image" alt="slide1" srcset="http://preview.imithemes.com/real-spaces-wp/wp-content/uploads/2014/06/slide12-600x400.jpg 600w, http://preview.imithemes.com/real-spaces-wp/wp-content/uploads/2014/06/slide12-150x100.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />
                                            <span class="images-count"><i class="fa fa-picture-o"></i>3</span> <span class="badges badge-rent">Rent</span> </a>
                                        <div class="property-info">
                                            <h4><a href="http://preview.imithemes.com/real-spaces-wp/?property=85-west-street">85 West Street</a></h4>
                                            <a class="accent-color" data-original-title="" data-toggle="tooltip" style="cursor: default; text-decoration: none;" href="javascript:void(0);"><span class="location sort_by_location">Wyoming</span></a><br>
                                            <div class="price"><strong>&#36;</strong><span>31000</span></div>
                                        </div>
                                        <div class="property-amenities clearfix"><span class="area"><strong>5000</strong>Area</span> <span class="baths"><strong>5</strong>Baths</span> <span class="beds"><strong>4</strong>Beds</span> <span class="parking"><strong>3</strong>Parking</span> </div>
                                    </div>
                                </li>
                                <li class="grid-item type-rent">
                                    <div class="property-block">
                                        <a href="http://preview.imithemes.com/real-spaces-wp/?property=11-times-square" class="property-featured-image">
                                            <img src="http://preview.imithemes.com/real-spaces-wp/wp-content/uploads/2014/06/slide22-600x400.jpg" class="attachment-600-400-size size-600-400-size wp-post-image" alt="slide2" srcset="http://preview.imithemes.com/real-spaces-wp/wp-content/uploads/2014/06/slide22-600x400.jpg 600w, http://preview.imithemes.com/real-spaces-wp/wp-content/uploads/2014/06/slide22-150x100.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />
                                            <span class="images-count"><i class="fa fa-picture-o"></i>3</span> <span class="badges badge-rent">Rent</span> </a>
                                        <div class="property-info">
                                            <h4><a href="http://preview.imithemes.com/real-spaces-wp/?property=11-times-square">11 Times Square</a></h4>
                                            <a class="accent-color" data-original-title="" data-toggle="tooltip" style="cursor: default; text-decoration: none;" href="javascript:void(0);"><span class="location sort_by_location">Arkansas</span></a><br>
                                            <div class="price"><strong>&#36;</strong><span>40000</span></div>
                                        </div>
                                        <div class="property-amenities clearfix"><span class="area"><strong>5000</strong>Area</span> <span class="baths"><strong>4</strong>Baths</span> <span class="beds"><strong>5</strong>Beds</span> <span class="parking"><strong>4</strong>Parking</span> </div>
                                    </div>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
