`@model IEnumerable<Kaylan.Porperty.Web.ViewModel.Approvepropertydetails>
@{
    ViewBag.Title = "Property details List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/unobtrusive/js")

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Kalyan Property World</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">

<!-- CSS -->
<link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Feed" href="http://preview.imithemes.com/real-spaces-wp/feed/" />
<link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Comments Feed" href="http://preview.imithemes.com/real-spaces-wp/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Home Version 1 Comments Feed" href="http://preview.imithemes.com/real-spaces-wp/version-1/feed/" />
<link rel='stylesheet' href='@Url.Content("~/content/css/cf8bac.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/dsidx-icons.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/client.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/client1.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/settings.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/bootstrap.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/animations.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/font-awesome-4.5.0/css/font-awesome.min.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/style.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/style2.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/prettyPhoto.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/owl.carousel.css")' type='text/css' media='all' />
<link rel='stylesheet' href='@Url.Content("~/content/css/owl.theme.css")' type='text/css' media='all' />
<link rel="stylesheet" href="@Url.Content("~/content/css/color1.css")" type="text/css">

<!-- Scripts -->
<script type='text/javascript' src="@Url.Content("~/scripts/jquery.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/jquery-migrate.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/23a23f.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/ajax-login-script.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/jquery.themepunch.tools.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/jquery.themepunch.revolution.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/modernizr.js")"></script>

<script type='text/javascript' src="@Url.Content("~/scripts/favorite.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/newslatter.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/prettyphoto.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/owl.carousel.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/jquery.flexslider.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/helper-plugins.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/bootstrap.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/waypoints.js")"></script>
@*<script type='text/javascript' src='@Url.Content("~/scripts/js.js")'></script>*@
<script type='text/javascript'>
    /* <![CDATA[ */
    var urlajax = { "url": "http:\/\/preview.imithemes.com\/real-spaces-wp\/wp-admin\/admin-ajax.php", "tmpurl": "http:\/\/preview.imithemes.com\/real-spaces-wp\/wp-content\/themes\/real-spaces", "is_property": "", "sticky": "1", "is_contact": "", "home_url": "http:\/\/preview.imithemes.com\/real-spaces-wp", "is_payment": "", "register_url": "http:\/\/preview.imithemes.com\/real-spaces-wp\/register-as-agent\/", "is_register": "", "is_login": "", "is_submit_property": "", "basic": "Basic", "advanced": "Advanced" };
    /* ]]> */
</script>
<script type='text/javascript' src='@Url.Content("~/scripts/init.js")'></script>
<script type='text/javascript' src="@Url.Content("~/scripts/profile_validate.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/comment-reply.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/wp-embed.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/core.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/widget.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/position.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/menu.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/autocomplete.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/autocomplete.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/jquery_cookie.js")"></script>
<script type='text/javascript' src="@Url.Content("~/scripts/script.js")"></script>
<body>
    <div>
        @using (Html.BeginForm())
        {
        }    
    </div>
    <div>
        <table>
            <tr>
                <th> @Html.DisplayNameFor(k => k.PropertyDescription)</th></tr>
               <tr> <th> @Html.DisplayNameFor(k => k.PropertyName)</th></tr>
            <tr>
                <th> @Html.DisplayNameFor(k => k.PorpertyImageUrl1)<br /></th></tr>
            <tr>
               <tr> <th> @Html.DisplayNameFor(k => k.PorpertyImageUrl2)</th></tr>
              <tr>  <th> @Html.DisplayNameFor(k => k.PorpertyImageUrl3)</th></tr>
             <tr   <th> @Html.DisplayNameFor(k => k.AreaId)</th>
                <th> @Html.DisplayNameFor(k => k.CityId)</th>
                <th> @Html.DisplayNameFor(k => k.Bedroom)</th>
                <th> @Html.DisplayNameFor(k => k.Bathroom)</th>
                <th> @Html.DisplayNameFor(k => k.Parking)</th>
               @*<th> @Html.DisplayNameFor(k => k.AmenityId)</th>*@
            </tr>
            @foreach (var k in Model)
            {
                <tr>
         
                    <th> @Html.DisplayFor(ki => k.PropertyDescription)</th></tr>
                 <tr>   <th> @Html.DisplayFor(ki=> k.PropertyName)</th></tr>
                    <tr>
                    <th>
                    
                        <img src="" srcset="@Url.Content(k.PorpertyImageUrl1)" width="250" height="80" alt=""><br />
                    </th></tr>
                    <tr>
                    <th>

                        <img src="" srcset="@Url.Content(k.PorpertyImageUrl2)"  width="250" height="80"alt="">
                    </th></tr>
                 <tr>   <th>

                        <img src="" srcset="@Url.Content(k.PorpertyImageUrl3)" width="250" height="80" alt="">
                    </th></tr>
                    @*<th> @Html.DisplayFor(ki => k.PorpertyImageUrl1)</th>
                    <th> @Html.DisplayFor(ki => k.PorpertyImageUrl2)</th>
                    <th> @Html.DisplayFor(ki => k.PorpertyImageUrl3)</th>*@
               <tr>     <th> @Html.DisplayFor(ki => k.AreaId)</th>
                    <th> @Html.DisplayFor(ki => k.CityId)</th>
                    <th> @Html.DisplayFor(ki=> k.Bedroom)</th>
                    <th> @Html.DisplayFor(ki => k.Bathroom)</th>
                    <th> @Html.DisplayFor(ki => k.Parking)</th>
                    @*<th> @Html.DisplayFor(ki => k.AmenityId)</th>*@
                </tr>
                break;
            }
        </table>
</body>
   

</html>
                        