@model IEnumerable<Kalyan.Property.Infrastructure.Models.PropertyRequest>

@{
    Layout = null;
}

<h3>Enquiry For Listed Property</h3>
<table class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.PropertyRequestType.Name)</th>
            <th>@Html.DisplayNameFor(model => model.PropertyDescription)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.PropertyRequestType.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.PropertyDescription)</td>
            </tr>
        }

</table>

