@model IEnumerable<Kalyan.Property.Infrastructure.Models.PropertyDetail>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FullName)</td>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.DisplayNameFor(model => model.ContractType)</td>
            <td>@Html.DisplayNameFor(model => model.Address)</td>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               <td>@Html.DisplayFor(modelItem => item.FullName)</td> 
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.ContractType)</td>
                <td>@Html.DisplayNameFor(model => model.Address)</td>



            </tr>
        }

</table>
