@using Kaylan.Porperty.Web.Utility;
@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/unobtrusive/js")

<style>
    #maincontent {
        margin: 10px;
        border: solid 4px;
        color: white;
        border-color: #FF9800;
    }

    #content {
        width: 300px;
        float: left;
        height: 400px;
        padding: 5px 15px;
    }

    #middle {
        width: 300px; /* Account for margins + border values */
        float: left;
        padding: 5px 15px;
        height: 400px;
        margin: 0px 5px 5px 5px;
    }

    #sidebar {
        width: 300px;
        padding: 5px 15px;
        height: 400px;
        float: left;
    }
</style>

<!-- Main content -->
<section class="content">
    <!-- Info boxes -->

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border" id="result">
                    <div class="panel panel-default" id="maincontent">
                        <div class="panel-heading" style="background-color:#FF9800;color:white;font-size:20px;">User Profile</div>
                        <div class="panel-body" style="">

                            <div id="main1" style="width:150%;float:left;margin-left:30px;">
                                <section>
                                    <div class="col-md-3 col-sm-3 submit-image">
                                        <img src="~/Images/Tulips.jpg" alt="Smiley face" width="170" height="170">
                                    </div>
                                </section>
                                <section id="content" style="color:black;height:200px;width:300px;">

                                    <h4>Name :@User.Identity.GetFirstName() @User.Identity.GetFirstName()  </h4>
                                    <h6>Phone : @User.Identity.GetPhone()</h6>
                                    <h6>DateOfBirth: @User.Identity.GetDateOfBirth()</h6>
                                    <h6>Email : @User.Identity.GetEmail()</h6>
                                   
                                    <h5>@Html.ActionLink("ChangePassword", "CreatNewPassword", "User")</h5>
                                    <br>
                                </section>

                                <section id="content" style="color:black;height:200px;width:300px;">
                                    <strong style="font-size:15px;">Membership Details :</strong><br>
                                    Membership Status : PAID <br>
                                    Membership Ends : 01-NOV-2016<br>
                                    Membership Level : Business Premium<br>
                                </section>
                            </div>

                            @*<a id="back-to-top"><i class="fa fa-angle-double-up" style="display:inline"></i></a>*@
                        </div>
                    </div>
                </div>
                <a id="back-to-top">
                    <i class="fa fa-angle-double-up" style="display:inline">

                    </i>
                </a>
            </div>
        </div>
    </div>
</section>