@*@*<!DOCTYPE HTML>
<html lang="en-US" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Kalyan Property World</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <!-- CSS -->
    <link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Feed" href="http://preview.imithemes.com/real-spaces-wp/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Comments Feed" href="http://preview.imithemes.com/real-spaces-wp/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Home Version 1 Comments Feed" href="http://preview.imithemes.com/real-spaces-wp/version-1/feed/" />
    <link rel='stylesheet' href='@Url.Content("~/content/css/cf8bac.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/dsidx-icons.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/client.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/client1.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/settings.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/bootstrap.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/animations.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/font-awesome-4.6.3/css/font-awesome.min.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/style.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/style2.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/prettyPhoto.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/owl.carousel.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/owl.theme.css")' type='text/css' media='all' />
    <link class="alt" href="@Url.Content("~/content/css/color1.css")" rel="stylesheet" type="text/css">

    <!-- Scripts -->
    <script type='text/javascript' src="@Url.Content("~/scripts/jquery.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/jquery-migrate.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/23a23f.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/ajax-login-script.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/jquery.themepunch.tools.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/jquery.themepunch.revolution.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/modernizr.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/scripts/favorite.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/newslatter.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/prettyphoto.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/owl.carousel.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/jquery.flexslider.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/helper-plugins.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/bootstrap.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/waypoints.js")"></script>
    <!--    <script type='text/javascript' src='js/js.js'></script>-->
    <script type='text/javascript'>
        /* <![CDATA[ */
        var urlajax = { "url": "http:\/\/preview.imithemes.com\/real-spaces-wp\/wp-admin\/admin-ajax.php", "tmpurl": "http:\/\/preview.imithemes.com\/real-spaces-wp\/wp-content\/themes\/real-spaces", "is_property": "", "sticky": "1", "is_contact": "", "home_url": "http:\/\/preview.imithemes.com\/real-spaces-wp", "is_payment": "", "register_url": "http:\/\/preview.imithemes.com\/real-spaces-wp\/register-as-agent\/", "is_register": "", "is_login": "", "is_submit_property": "", "basic": "Basic", "advanced": "Advanced" };
        /* ]]> */
    </script>
    <!--    <script type='text/javascript' src='js/init.js'></script>-->
    <script type='text/javascript' src="@Url.Content("~/scripts/profile_validate.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/comment-reply.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/wp-embed.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/core.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/widget.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/position.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/menu.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/autocomplete.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/autocomplete.js")"></script>
    <script src="@Url.Content("~/scripts/jquery_cookie.js")"></script>
    <script src="@Url.Content("~/scripts/script.js")"></script>
    @Scripts.Render("~/PropertyRequest/js")
    @Scripts.Render("~/Home/js")
</head>
<body class="page page-id-281 page-template-default ">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    <div class="body">
        <!-- Start Site Header -->
        <header class="site-header">
            <div class="top-header hidden-xs">
                <div class="container-fluide">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <ul class="horiz-nav pull-right">
                                <li class="dropdown">
                                    <a href="../Home/Admin">Admin</a>

                                <li class="dropdown">
                                    <i class="fa fa-user"></i>
                                    <a href="/Login/CreateLogin">Login</a>

                                    <ul class="dropdown-menu">
                                        <li><a href="#" title="Favorite Properties">Favorite Properties</a></li>
                                        <li><a href="#" title="Saved Searches">Saved Searches</a></li>
                                        <li class="register"><a href="#" title="My Profile">My Profile</a></li>
                                        <li class="login"><a href="#" title="Logout">Logout</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <i class="fa fa-check-circle"></i>
                                    <a href="/User/CreateUser">Register</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="middle-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-8 col-xs-8">
                            <h1 class="logo">
                                <a href="#" title="Real Spaces - Wordpress Real Estate Theme">
                                    <img src="@Url.Content("~/images/sample-10.png")" alt="Logo">
                                </a>
                            </h1>
                        </div>
                        <div class="col-md-5 col-sm-8 col-xs-8">
                            <marquee style="width: 430px; font-size: 18px; margin-top: 30px; font-weight: bold">
                                <b>
                                    Kalyan Real Estate Property/Properties/Real Estate for Sale and Rent
                                    Place your Kalyan property on the best Property Portal
                                </b>
                            </marquee>
                        </div>

                        <div class="col-md-5 col-sm-4 col-xs-4">

                            <div class="contact-info-blocks hidden-sm hidden-xs">
                                <div>
                                    <i class="fa fa-phone"></i>Free Line For You
                                    <span>0123456789</span>
                                </div>
                                <div>
                                    <i class="fa fa-envelope"></i>Email Us
                                    <span>example@gmail.com</span>
                                </div>
                                <!-- <div>
                                        <i class="fa fa-clock-o"></i>Working Hours
                                <span>09:00 to 17:00</span>
                                    </div>-->
                            </div>
                            <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-menu-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navigation">
                                <ul id="menu-main-menu" class="sf-menu">
                                    <li id="menu-item-208" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-208">
                                        @Html.ActionLink("Home", "Index", "Home")
                                    </li>
                                    <li id="menu-item-209" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-209"> @Html.ActionLink("About", "About", "Home")</li>
                                    <li id="menu-item-225" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-225"> @Html.ActionLink("Services", "Services", "Home")</li>
                                    <li id="menu-item-283" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-283"><a href="/PropertyRequest/CreatePropertyRequest">PropertyRequest</a></li>
                                                                       <li id="menu-item-226" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-226"> <a href="/PropertyDetail/CreatePropertyDetail">List your property</a></li>
                                    <li id="menu-item-209" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-209"> @Html.ActionLink("Membership", "membership", "Home")</li>
                                    <li id="menu-item-240" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-240">@Html.ActionLink("Contact", "Contact", "Home")</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <style>
            #maincontent {
                margin: 10px;
                border: solid 4px;
                color: white;
                border-color: #FF9800;
            }

            #content {
                width: 300px;
                float: left;
                height: 400px;
                padding: 5px 15px;
            }

            #middle {
                width: 300px; /* Account for margins + border values */
                float: left;
                padding: 5px 15px;
                height: 400px;
                margin: 0px 5px 5px 5px;
            }

            #sidebar {
                width: 300px;
                padding: 5px 15px;
                height: 400px;
                float: left;
            }
        </style>







        <div class="panel panel-default" id="maincontent">
            <div class="panel-heading" style="background-color:#FF9800;color:white;font-size:20px;">Dashboard</div>
            <div class="panel-body" style="">

                <div id="main1" style="width:150%;float:left;margin-left:30px;">
                    <section>
                        <div class="col-md-3 col-sm-3 submit-image">
                            <div class="image-placeholder">600x400 (JPG)</div>
                            <input type="file" name="image1">
                        </div>
                    </section>
                    <section id="content" style="color:black;height:200px;width:300px;">

                        <h4>Name :Shreya singh </h4>
                        <h6>Phone</h6>
                        <h6>DateOfBirth</h6>
                        <h6>Email</h6>
                        <h5>@Html.ActionLink("ChangePassword", "CreatNewPassword", " User ")</h5>
                        <br>
                    </section>


                    <section id="content" style="color:black;height:200px;width:300px;">
                        <strong style="font-size:15px;">Membership Details :</strong><br>
                        Membership Status : PAID <br>
                        Membership Ends : 01-NOV-2016<br>
                        Membership Level : Business Premium<br>
                    </section>






                </div>

                <div id="main1" style="width:100%;float:left;margin-left:30px;">
                    <section id="content" style="color:black;height:auto;width:auto;">
                        <strong style="font-size:15px;">Property Enquiries :</strong><br>
                        The Total Enquiries Received   : <br>
                        15 Newest Enquiries   :<br>
                        dstrueblood@gmail.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp05-Mar-2016  06:51<br>
                        mina.hotrlier@yahoo.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp03-Mar-2016  04:06<br>
                        mina.hotrlier@yahoo.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp03-Mar-2016  04:06<br>
                        mina.hotrlier@yahoo.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp03-Mar-2016  06:05<br>
                        mina.hotrlier@yahoo.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp03-Mar-2016  06:05<br>


                        marcinprzak@gmail.com        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp01-Mar-2016  23:06<br>
                        Rakaball@yahoo.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp01-Mar-2016  06:45<br>
                        Rakaball@yahoo.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp01-Mar-2016  06:44<br>
                        nannu84_m@hotmail.com        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp27-Feb-2016  18:19<br>
                        bartqmir@yahoo.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp27-Feb-2016  06:06<br>
                        rhinoshinde@gmail.com     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp25-Feb-2016  19:11<br>
                        rhinoshinde@gmail.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp05-Feb-2016  19:11<br>
                        fergus.mcnab213@gmail.com         &nbsp24-Feb-2016  08:57<br>
                        sholdway@interbaun	.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp20-Feb-2016  11:43<br>

                    </section>








                </div>

                <div id="main1" style="width:100%;float:left;margin-left:30px;">






                </div>


                <footer class="site-footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="copyrights-col-left col-md-6 col-sm-6">
                                <p>2016 © <a href="http://mariainfotech.in/">MARIA Infotech Pvt. Ltd. </a>All Rights Reserved.</p>
                            </div>
                            <div class="copyrights-col-right col-md-6 col-sm-6">
                                <div class="social-icons">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <a id="back-to-top"><i class="fa fa-angle-double-up" style="display:inline"></i></a>
            </div>
        </div>
</body>
</html>*@*@
