@model Kalyan.Property.Infrastructure.Models.PropertyRequest

@{
    ViewBag.Title = "PropertyRequestDetails";
}


<div>
    <h4>PropertyRequest Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PropertyRequestArea.Name)
        </dt>
<h2>PropertyRequestDetails</h2>
<!DOCTYPE HTML>
<html lang="en-US" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href='@Url.Content("~/content/css/bootstrap.min.css")'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href='@Url.Content("~/content/css/jquery-jvectormap-1.2.2.css")'>
    <!-- Theme style -->
    <link rel="stylesheet" href='@Url.Content("~/content/css/AdminLTE.min.css")'>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href='@Url.Content("~/content/css/_all-skins.min.css")'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- CSS -->
    <link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Feed" href="http://preview.imithemes.com/real-spaces-wp/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Comments Feed" href="http://preview.imithemes.com/real-spaces-wp/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Real Spaces - Wordpress Real Estate Theme &raquo; Home Version 1 Comments Feed" href="http://preview.imithemes.com/real-spaces-wp/version-1/feed/" />
    <link rel='stylesheet' href='@Url.Content("~/content/css/cf8bac.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/dsidx-icons.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/client.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/client1.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/settings.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/bootstrap.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/animations.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/font-awesome-4.6.3/css/font-awesome.min.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/style.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/style2.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/prettyPhoto.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/owl.carousel.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/content/css/owl.theme.css")' type='text/css' media='all' />
    <link class="alt" href="@Url.Content("~/content/css/color1.css")" rel="stylesheet" type="text/css">

    <!-- Scripts -->
    <script type='text/javascript' src="@Url.Content("~/scripts/jquery.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/jquery-migrate.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/23a23f.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/ajax-login-script.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/jquery.themepunch.tools.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/jquery.themepunch.revolution.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/modernizr.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/scripts/favorite.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/newslatter.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/prettyphoto.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/owl.carousel.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/jquery.flexslider.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/helper-plugins.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/bootstrap.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/waypoints.js")"></script>
    <!--    <script type='text/javascript' src='js/js.js'></script>-->
    @*<script type='text/javascript'>
            /* <![CDATA[ */
            var urlajax = { "url": "http:\/\/preview.imithemes.com\/real-spaces-wp\/wp-admin\/admin-ajax.php", "tmpurl": "http:\/\/preview.imithemes.com\/real-spaces-wp\/wp-content\/themes\/real-spaces", "is_property": "", "sticky": "1", "is_contact": "", "home_url": "http:\/\/preview.imithemes.com\/real-spaces-wp", "is_payment": "", "register_url": "http:\/\/preview.imithemes.com\/real-spaces-wp\/register-as-agent\/", "is_register": "", "is_login": "", "is_submit_property": "", "basic": "Basic", "advanced": "Advanced" };
            /* ]]> */
        </script>*@
    <!--    <script type='text/javascript' src='js/init.js'></script>-->
    <script type='text/javascript' src="@Url.Content("~/scripts/profile_validate.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/comment-reply.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/wp-embed.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/core.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/widget.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/position.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/menu.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/autocomplete.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/scripts/autocomplete.js")"></script>
    <script src="@Url.Content("~/scripts/jquery_cookie.js")"></script>
    <script src="@Url.Content("~/scripts/script.js")"></script>
    @Scripts.Render("~/PropertyRequest/js")
    @Scripts.Render("~/Home/js")








</head>
<body class="page page-id-281 page-template-default ">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    <div class="body">
        <!-- Start Site Header -->
        <header class="site-header">
            <div class="top-header hidden-xs">
                <div class="container-fluide">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <ul class="horiz-nav pull-right">
                                <li class="dropdown">
                                    <i class="fa fa-home"></i>
                                    <a href="../Home/Admin">List All Property</a>
                                    <i class="fa fa-male"></i>
                                    <a href="../Home/Admin">User Profile</a>
                                    <i class="fa fa-user"></i>
                                    <a href="../Home/Admin">Admin</a>

                                <li class="dropdown">
                                    <i class="fa fa-user"></i>
                                     <a href="/Home/CreateLogin">Login</a>

                                    <ul class="dropdown-menu">
                                        <li><a href="#" title="Favorite Properties">Favorite Properties</a></li>
                                        <li><a href="#" title="Saved Searches">Saved Searches</a></li>
                                        <li class="register"><a href="#" title="My Profile">My Profile</a></li>
                                        <li class="login"><a href="#" title="Logout">Logout</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <i class="fa fa-check-circle"></i>
                                   <a href="/Home/CreateLogin">Register</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>






            @*@{
                    ViewBag.Title = "Admin";
                Layout = "~/Views/Shared/_AdminLayout.cshtml";
                    }*@

                <div class="container-fluide">
                    <h4>PropertyDetail</h4>
                    <div class="row">
                        <div class="col-sm-4" style="background-color:lavenderblush">
                            <dl class="dl-horizontal">
                                <dt style="text-align:left" >
                                    @Html.DisplayNameFor(model => model.Amenity.Id)
                                </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyRequestArea.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyRequestContractType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyRequestContractType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyRequestPriceMax.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyRequestPriceMax.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyRequestPriceMin.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyRequestPriceMin.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyRequestType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyRequestType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAgree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAgree)
        </dd>

    </dl>
</div>

